<!-- <script>
  document.querySelector('hy-push-state').setAttribute('prefetch', '');

  document.querySelectorAll('.sidebar a[href^="/"]').forEach(function (el) { 
    el.addEventListener('click', function (e) {
      if (el.pathname === window.location.pathname) {
        e.preventDefault();
        e.stopPropagation();
        document.querySelector('hy-drawer').close();
      }
    });
  });
</script> -->





<script>
name:'app',
data(){
 data(){
   return{
     iX: 0,//鼠标坐标 与 拖拽按钮 间距 x
     iY: 0,//鼠标坐标 与 拖拽按钮 间距 y
     mousedownState: false, //鼠标默认抬起
   }
 },
 methods:{
   //点击事件
   onBack(){
       this.$router.back(-1)
   },
   //手指按下事件
   han_down(event){
     /* 此处判断  pc 或 移动端 得到 event 事件 */
     var touch;
     if (event.touches) {
       touch = event.touches[0];
     } else {
       touch = event;
     }
      // 鼠标点击 面向页面 的 x坐标 y坐标
      let { clientX, clientY } = touch;
     // 鼠标x坐标 - 拖拽按钮x坐标  得到鼠标 距离 拖拽按钮 的间距
     this.iX = clientX - this.$refs.actionMgr.offsetLeft;
     // 鼠标y坐标 - 拖拽按钮y坐标  得到鼠标 距离 拖拽按钮 的间距
     this.iY = clientY - this.$refs.actionMgr.offsetTop;
     // 设置当前 状态为 鼠标按下
     this.mousedownState = true;
     let {
         style: actionMgrStyle
       } = this.$refs.actionMgr;
     actionMgrStyle.opacity="1"

   },
   //手指移动事件
   han_move(event){
     //鼠标按下 切移动中
     if (this.mousedownState) {
       /* 此处判断  pc 或 移动端 得到 event 事件 */
       var touch;
       if (event.touches) {
         touch = event.touches[0];
       } else {
         touch = event;
       }
       // 鼠标移动时 面向页面 的 x坐标 y坐标
       let { clientX, clientY } = touch;
       //当前页面全局容器 dom 元素  获取容器 宽高
       let {
         clientHeight: pageDivY,
         clientWidth: pageDivX
       } = this.$refs.pageDiv;

       // pageDivY=461;
       /* 鼠标坐标 - 鼠标与拖拽按钮的 间距坐标  得到 拖拽按钮的 左上角 x轴y轴坐标 */
       let [x, y] = [clientX - this.iX, clientY - this.iY];

       //拖拽按钮 dom 元素  获取 宽高 style 对象
       let {
         clientHeight: actionMgrY,
         clientWidth: actionMgrX,
         style: actionMgrStyle
       } = this.$refs.actionMgr;
       /* 此处判断 拖拽按钮 如果超出 屏幕宽高 或者 小于
          设置 屏幕最大 x=全局容器x y=全局容器y 否则 设置 为 x=0 y=0
       */
       if (x > pageDivX - actionMgrX) {
         x = pageDivX - actionMgrX;
       }
       else if (x < 0) x = 0;
       if (y > document.documentElement.clientHeight - actionMgrY-60){
        //document.documentElement.clientHeight 可视化窗口
        //这里的减去60 是减去的底部固定tab的高度
         y = document.documentElement.clientHeight - actionMgrY-60;
       }
       else if (y < 0){ y = 0;}

       // 计算后坐标  设置 按钮位置
       actionMgrStyle.left = `${x}px`;
       actionMgrStyle.top = `${y}px`;
       actionMgrStyle.bottom = "auto";
       actionMgrStyle.right = "auto";
       //当按下键滑动时， 阻止屏幕滑动事件
       event.preventDefault();


     }
   },
   //手指抬起事件
   han_up(event){
     let {
         style: actionMgrStyle
       } = this.$refs.actionMgr;
       actionMgrStyle.opacity="0.8"
     // 设置当前状态为鼠标抬起
     this.mousedownState = false;
   },
 },
}
</script>









<!--
Code for integrating CloudFlare's email protection with Hydejack's single page app loading.
-->
<script>
  document.getElementById('_pushState').addEventListener('hy-push-state-after', function (e) {
    function e(e){
      (console.error?console.error:console.log).call(console,e)
    }

    function t(e){
      return l.innerHTML='<a href="'+e.replace(/"/g,"&quot;")+'"></a>',l.childNodes[0].getAttribute("href")
    }

    function r(e,t){
      var r=e.substr(t,2);return parseInt(r,16)
    }

    function n(e,n){
      for(var o="",c=r(e,n),a=n+2;a<e.length;a+=2){
        var l=r(e,a)^c;
        o+=String.fromCharCode(l)
      }
      return t(o)
    }

    var o="/cdn-cgi/l/email-protection#",
        c=".__cf_email__",
        a="data-cfemail",
        l=document.createElement("div");

    !function(){
      for(var t=document.getElementsByTagName("a"),r=0;r<t.length;r++)
        try{
          var c=t[r],a=c.href.indexOf(o);
          a>-1&&(c.href="mailto:"+n(c.href,a+o.length))
        }catch(t){
          e(t)
        }
    }(),
    function(){
      for(var t=document.querySelectorAll(c),r=0;r<t.length;r++)
        try{
          var o=t[r],l=n(o.getAttribute(a),0),i=document.createTextNode(l);
          o.parentNode.replaceChild(i,o)
        }catch(t){
          e(t)
        }
    }()
  });
</script>

{% comment %}
<!--
Example code for using Matamo as alternative analytics solution.
-->
{% if site.matomo_analytics %}
<script>
  var _paq = _paq || [];

  /*{% if site.matomo_analytics.no_cookies %}*/
  _paq.push(['disableCookies']);
  /*{% endif %}*/

  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  _paq.push(['setTrackerUrl', u+'piwik.php']);
  _paq.push(['setSiteId', '{{site.matomo_analytics.site_id}}']);

  var pushStateEl = document.getElementById('_pushState');
  var timeStartLoadPage, referer, timeItTookToLoadPage;

  pushStateEl.addEventListener('hy-push-state-start', function() {
    timeStartLoadPage = new Date().getTime();
    referer = window.location.toString();
  });

  pushStateEl.addEventListener('hy-push-state-ready', function() {
    timeItTookToLoadPage = new Date().getTime() - timeStartLoadPage;
  });

  pushStateEl.addEventListener('hy-push-state-after', function() {
    _paq.push(['setReferrerUrl', referer]);
    _paq.push(['setCustomUrl', window.location.toString()]);
    _paq.push(['setDocumentTitle', document.title]);
    _paq.push(['deleteCustomVariables', 'page']);
    _paq.push(['setGenerationTimeMs', timeItTookToLoadPage]);
    _paq.push(['trackPageView']);
  });

  window.loadJSDeferred('{{site.matomo_analytics.root}}piwik.js');
</script>
{% endif %}
{% endcomment %}

<!-- socials and footer Hydejack link open in new tabs -->
<script type="text/javascript">
  var len =  document.getElementsByClassName("no-mark-external").length;
  for (var i = 0 ; i < len; i++) {
    document.getElementsByClassName("no-mark-external")[i].setAttribute("target","_blank");
  }
</script>

<script defer type="text/javascript">
  // var spy;
  // var isHome = false;
  document.getElementById('_pushState').addEventListener('hy-push-state-load', function() {
    document.getElementsByClassName("external")[0].setAttribute("target", "_blank");
    // if (document.getElementsByClassName("home-element").length == 1){
    //   document.getElementById("_drawer--opened").closest("ul").setAttribute("id","my-awesome-nav");
    //   spy = new Gumshoe('#my-awesome-nav a');
    //   isHome = true;
    // }
  });
</script>

<!-- <script defer type="text/javascript">
  document.getElementById('_pushState').addEventListener('hy-push-state-ready', function() {
    if (isHome == true){
      spy.destroy();
      isHome = false;
    }
  });
</script> -->

<!-- reduce font size of tagline-->
<!-- incorporate typewriter.js -->
<script type="text/javascript">
  document.getElementsByClassName("sidebar-about")[0].children[2].innerHTML = "<span class='sr-only'>Finding a PhD Position in Electrical Engineering</span><span id='mytag' aria-hidden='true'></span>";
  document.getElementsByClassName("sidebar-about")[0].children[2].style.fontSize = "0.83rem";
  var typewriter = new Typewriter(mytag, {
    loop: false,
    delay: 55,
    deleteSpeed: 1
  });
  typewriter.pauseFor(2000)
  .typeString('Finding a PhD Position in Electrical Engineering')
  .pauseFor(6000)
  .start();
</script>

