{% comment %}
<!--
Using `preload` so that page rendering doesn't get blocked.
Fill in `href`. You may have to adjust `as` and `onload`/`rel`, depending on content.
-->
<link href="<path/to/content.css>" rel="preload" as="style" onload="this.rel='stylesheet'">

<!--
Fallback in case JavaScript isn't enabled.
Fill in `href`. You may have to adjust `rel`.
-->
<noscript><link href="<path/to/content.css>" rel="stylesheet"></noscript>
{% endcomment %}

<link rel="shortcut icon" type="image/png" href="/assets/icons/favicon.ico">
<link rel="stylesheet" href="/assets/icomoon/style.css">
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/gh/cferdinandi/gumshoe@4/dist/gumshoe.polyfills.min.js"></script> -->
<meta name="google-site-verification" content="Eo7xvHKNBbCJh79skfbpX9g56Piya0zNqHXVuaNWFKg" />


