{% if site.clap_button %}
  <clap-button class="mb6" {% if include.hidden == true %}hidden{% endif %}></clap-button>
  {% if include.hidden == true %}<hr class="dingbat related mb6" />{% endif %}
{% else %}
  <hr class="dingbat related mb6" />
{% endif %}



<!-- 
  ####################################################################
  BACK TO TOP
  ####################################################################
-->

<script>
// When the page scroll>20px ; The "Back to Top" Button appear
window.onscroll = function() {scrollFunction()};

function scrollFunction() {console.log(121);
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("myBtn").style.display = "block";
  } else {
      document.getElementById("myBtn").style.display = "none";
  }
}

// Click the button, then it will back to top
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>



<!--go to top button -->
<script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
<script>addBackToTop({
diameter:56,
backgroundColor:'rgb(1,92,171)',
textColor:'#fff'
})</script>
